@{
    ViewData["Title"] = "Information";
}
<h1>@ViewData["Title"]</h1>

<div id="myCarousel" class="carousel item" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/images/showroom.jpg" alt="IT">
                    <div class="carousel-caption">
                        <h3 class="hcaption-carousel">NTP Auto Showroom</h3>
                        <div class="caption-carousel text-light bg-dark">
                            <p>CEO: Nguyen Tien Phat</p>
                            <p>Address: DaLat City - Lam Dong - Viet Nam</p>
                            <p>Phone: 0878880379</p>
                            <p>Email: phatntse150133@fpt.edu.vn</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
