@model IEnumerable<DataAccess.Models.Car>

@{
    ViewData["Title"] = "CarList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CarList</h1>


<h2>
    Cars
</h2>
<form method="post" asp-controller="Cars" asp-action="Search">
    <div class="row">
        <div class="col-md-3">
            <input class="form-control" id="" type="text" name="name" placeholder="Search...">
        </div>
        <div class="col-md-1">
             <button class="btn btn-success" type="submit" value="Search">Search</button>
        </div>
    </div>
        
       
        <br />
        
</form>
<div class="row">
    @foreach(var car in Model)
    {
        <div class="col-md-4">
            <span style="font-weight:bold" class="d-flex justify-content-center">@car.CarName</span>
            <a asp-action="CarDetails" asp-route-id="@car.CarId"><img src="~/images/@car.Image" class="img-fluid w-100 h-75"></a>
            <span class="d-flex justify-content-center">Price: @car.Price</span>
        </div>
    }
</div>

